#container {
    min-height: 200px;
    max-width: 600px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 30%;
}
#hero_image {
    width: 100%;
    height: 50px;
    display: block;
    margin: auto;
}
#button-container {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
#prototype_div {
    padding: 20px;
}

paper-button.help-dialog-button {
    right: 0px;
}
@keyframes topical-button-becomes-active {
    from { background-color: #aaa }
    to { background-color: #9D2235 }
}
paper-button.form-topical-button {
    width: 20%;
    margin-right: 1%;
    margin-left: 1%;
    background-color: #aaa;
    color: white;
}
paper-button.form-topical-button[active] {
    animation-name: topical-button-becomes-active;
    animation-duration: 0.5s;
    background-color: #9D2235;
}
paper-button.session-chooser-topical-button {
    width: 250px;
    height: 44px;
    margin-right: 1%;
    margin-left: 1%;
    background-color: #aaa;
    color: lightgray;
}
paper-button.session-chooser-topical-button[active] {
    animation-name: topical-button-becomes-active;
    animation-duration: 0.5s;
    background-color: #9D2235;
}
.subheader{
    color: white;
    background-color: #9D2235;
    width: 100%;
    text-align: center;
    padding: 1%;
    border-radius: 10px;
    font-family: "Roboto";
}
#center{
    text-align: center;
}
#tally{
    height: 60px;
    border: 1px solid gray;
    width: 10%;
    margin: auto;
    text-align: center;
    font-family: "Roboto";
}

.form-actionable-container{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 2%;
    border-radius: 20px;
    margin-top: 30px;
}
.toprow{
    text-align: center;
    padding-bottom: 2%;
    padding-top: 1%;
}
.bottomrow{
    text-align: center;
    padding: 0px;
    margin-bottom: 30px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.form_container_transition {
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(50px) scale(0.97);
    }
    to   {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(50px) scale(0.97);
    }
    to   {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
.chip {
    alpha: 50%;
}
.form-button {
    background-color: #9D2235;
    color: white;
    padding-left:50px;
    padding-right: 50px;
}
#total {
    width: 70%;
}
#totalButton {
    margin: auto;
}
.sidebar_cell_separator {
    height: 1px;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
}
.sidebar_cell {
    height: 60px;
}
.input_label {
    text-align: center;
    font-family: "Roboto";
    font-size:300%;
}
.form-comments-input {
    margin: 10px;
}
