#secondary_sidebar_menu {
    flex: 1;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}
#content_form_view {
    flex: 1;
}
#form_loading_state {
    height: 100%;
    text-align: center;
    margin-top: 20px;
}
#main_content_container {
    height: 100%;
}
.aux_cell {
    margin-right: 20px;
    margin-left: 15px;
    margin-top: 20px;
    text-align: center;
}
#add-button {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    background-color: gray;
    color: white;
}
.config_button_container {
    display: flex;
}
.config_activity_indicator {
}
.config_toolbar_header_text {
    font-family: "Roboto";
}
.cell_separator {
    height: 1px;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
}
.cell {
    height: 60px;
}
.form-button-secondary {
    flex: 1;
}
.form-button {
    flex: 1;
}