#container {
    min-height: 400px;
    max-width: 500px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 10%;
}
#passcode_input {
    position: absolute;
    width: 80%;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    vertical-align: text-bottom;
}