#submit_button {
    margin: auto;
    position: absolute;
    vertical-align: text-bottom;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    left: 0;
    top: 0;
}
#submit_container {
    position:absolute;
    bottom: -10px;
    right: 0px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#login_activity_indicator {
    position: absolute;
    left: 6px;
    top: 6px;
}
#login_input {
    position: absolute;
    width: 90%;
    bottom: -10px;
}

.help-dialog-button {
    background-color: deepskyblue;
}

@keyframes enable_submit {
    from {}
    to {background-color: #9D2235;
        color: white;}
}

.submit_button_enabled {
    animation-name: enable_submit;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    -ms-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
}

#rotate_container {
    padding: 3em 0 0 0;
    text-align: center;

    -webkit-transition: -webkit-transform .33s;
    transition: transform .33s;

    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.container_rotated{
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
}

.container_initial{
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

#welcome_banner {
    -webkit-transform: translateZ(30px);
    transform: translateZ(30px);
}
#name_banner {
    -webkit-transform: rotateX(-90deg) translateZ(-10px);
    transform: rotateX(-90deg) translateZ(-10px);
}
#passcode_input {
    position: absolute;
    width: 80%;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    vertical-align: text-bottom;
}